---
layout: default-home
---

<div class="home">
  
  <div class="home-header">
    <h2>The <b>product</b> index</h2>
    <span>An open and organized directory of the best pieces about Product Management.</span>
  </div>
  

  {%- if site.pages.size > 0 -%}
    <ul class="post-list">
      {%- for page in site.pages -%}
      {% if page.type contains "home-section" %}
      <li style="background-image: url({{ page.image }}); order: {{ page.order }}" order="{{ page.order }}">

        <h3>{{ page.title | escape }}</h3>
        <span>{{ page.excerpt }}</span>

        <a style="color: #{{ page.color }}" href="{{ page.url | relative_url }}">Start to read</a>
        <div class="color-back" style="background-color: #{{ page.color }}"></div>
      </li>

      {% endif %}
      {%- endfor -%}
      <li style="order: 12; background-color: #FFE86D" order="12" class="email_form">
        <img src="/assets/images/notification.png">

        <h3>Never miss an update</h3>
        <span>Subscribe for the latest news and product updates. We respect your privacy. No spam!</span>

        <!-- <span class="done" style="display: none;">Subscribed!</span>
        <input type="email" name="email" id="email">
        <a style="color: #FFE86D" href="#" id="subscribe">Subscribe Now</a> -->

        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <div id="mc_embed_signup">
          <form action="https://theproductindex.us4.list-manage.com/subscribe/post?u=0d84f963266948cfa81a86347&amp;id=5e3906e9ae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
            
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0d84f963266948cfa81a86347_5e3906e9ae" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->

      </li>
    </ul>
    <div class="contributors-home">
      <h2>Contributors</h2>
      <span>Are you interested in contributing? You can help us keep this content up to date <a href="https://github.com/theproductindex/theproductindex.com">here</a>.</span>
      <ul class="contributors-list-home">
        {% for contributor in site.github.contributors %}
          <li><a href="{{contributor.html_url}}" target="_blank"><img src="{{ contributor.avatar_url }}" /></a></li>
        {% endfor %}
      </ul>
    </div>
  {%- endif -%}
</div>
